.vscode
.VSCodeCounter
other/misc
doc

*.lib
*.dll
*.so.1.0
*.o

examples/*.exe
examples/bd/*.exe
examples/etest
examples/ball
examples/finn
examples/simple

build_log.txt
dll_build.bat

run_unit_tests
run_functional_tests
